body {
font-family: 'Bad Script', cursive;
background:#96d8e2;
background-image: url("gradient_bg.png");
background-repeat: repeat-x;
}

.top{
  padding-bottom: 2%;
  text-align: center;
  font-family: 'Fredericka the great', cursive;
  background: #96d8e2;; 
   border: 3px solid rgb(100, 177, 228);
} 

.btn{
  border: .5px solid rgb(100, 177, 228);
}

#history {
  border: 7px solid rgb(127, 194, 238);
  height: 50%;
  border-radius: 13px;
  float: left !important;
  margin: 3rem !important;
  margin-left: 20px !important;
  text-align: center;
  font-family: 'Fredericka the great', cursive;
  justify-content: flex-end;

}

.current  {
  border: 7px solid rgb(100, 177, 228);
  float: left;
  padding: 10%;
  margin-left:.25rem !important;
  text-align: center;
  justify-content: center;
  font-family: 'Fredericka the great', cursive;
}

.card-group{
  padding: 5%;
}

.card{ 
  border: 7px solid rgb(100, 177, 228);
  height: 20%;
  box-sizing: border-box;
  column-count: 3;
  padding: 2%;
}
.card-img-top{
  border-radius: 5% !important;
}
#fiveDayDate{
  text-align: center;
}
#currentTemp{
  text-align: left;
}
#currentHumidity{
  text-align: left;
}
#currentWind{
  text-align: left;
}
#uv{
  text-align: left;
}
 .card-deck {
    padding: 5%;
}

 /* Media Screen Sizing */

/* @media screen and (max-width: 991.98px) {
  body {
  }
}
   .wrapper {
   width: 625px;
   } */
@media screen and (max-width: 970px) {
     body {
     }
}
       /* The wrapper's width will be 600px */
.wrapper {
width: 600px;
}
 
@media screen and (max-width: 767.98px) {
   body {
   background:#589ca7
   }
}
.wrapper {
width: 500px;
}
 
@media screen and (max-width: 575.98px) { 
    body { 
    background:#589ca7
    }
 }
.wrapper {
width: 250px;
} 